{% extends 'courses/base.html' %}

{% block title %}Lesson Detail Page{% endblock %}

{% block content %}
	{% if object is not None %}
		<p>{{ object.title }}</p>
		<p>{{ object.description }}</p>
	{% else %}
		<p>Upgrade membership</p>
	{% endif %}
{% endblock%}
{# <!DOCTYPE html>
<html>
	<head>
		<title>Lesson Detail Page</title>
	</head>
	<body>
		{% if object is not None %}
			<p>{{ object.title }}</p>
			<p>{{ object.description }}</p>
		{% else %}
			<p>Upgrade membership</p>
		{% endif %}
	</body>
</html> #}